/*Colone de gauche et en-tête*/
@font-face {
    font-family: 'commandocommando';
    src: url('fonts/commando-webfont.eot');
    src: url('fonts/commando-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/commando-webfont.woff2') format('woff2'),
         url('fonts/commando-webfont.woff') format('woff'),
         url('fonts/commando-webfont.ttf') format('truetype'),
         url('fonts/commando-webfont.svg#commandocommando') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	margin: 20px;
}
h1
{
	font-size: 2.5em;
	text-transform: uppercase;
}
h2
{
	font-size: 1.7em;
}
.header
{
	display: flex;
}
#column
{
	clear: both;
}
#title
{
	margin-left: 5%;
	padding-top: 3%;
	font-family: 'commandocommando', Arial, Helvetica, sans-serif;
}
.photo_presentation
{
	background: rgb(199, 53, 204);
	width: 25%;
	padding-top: 2%;
	padding-bottom: 2%;
}
#photo
{
	border-radius: 100%;
	width: 100%;
}
#column_left
{
	width: 25%;
	float: left;
}
#column_left p
{
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
}
#column_left ul
{
	list-style: none;
	padding-left: 0;
	margin-left: 10%;
}
#column_left ul p
{
	margin-left: 0%;
	margin-top: 0%;
}
.hobbies
{
	text-align: center;
	padding-bottom: 15px;
	font-size: 1.4em;
}
.icons
{
	margin-left: 5%;
	margin-right: 5%;
	border: rgb(77, 218, 240) solid 2px;
	border-radius: 100%;
	padding: 10px 10px 10px 10px;
}
.subpart
{
	text-align: center;
	color:  rgb(0, 0, 0);
	background-color: rgb(77, 218, 240);
	text-transform: uppercase;
	font-size: 1.4em;
	font-family: 'commandocommando', Arial, Helvetica, sans-serif;
}
.background_color
{
	background-color: rgb(199, 53, 204);
}
.color
{
	color: rgb(199, 53, 204);
}
.underline
{
	border-bottom: rgb(199, 53, 204)solid 2px;
}
#about_me
{
	margin-bottom: 70%;
}

/*Colone de droite*/

#column_right
{
	width: 60%;
	margin-left: 30%;
}
#column_right h3
{
	border-bottom: rgb(199, 53, 204) solid 2px;
	padding-bottom: 10px;
	font-size: 1.4em;
	text-transform: uppercase;
	margin-top: 0;
	font-family: 'commandocommando', Arial, Helvetica, sans-serif;
}
.format article
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.format aside
{
	float: left;
	width: 50%;
	margin-left: 2%;
}
#column_right h4, h5
{
	margin-bottom: 0%;
	margin-top: 2%;
}
.format2
{
	display: flex;
}
.format2 aside
{
	width: 60%;
	margin-left: 2%;
}
.icons2
{
	font-size: 1.4em;
	color: rgb(199, 53, 204);
	padding-right: 20px;
}
.friends
{
	text-transform: uppercase;
	font-weight: bold;
}
.icons3 
{
	color: rgb(199, 53, 204);
	font-size: 0.9em;
	padding-right: 6px;
}
.icons4
{
	color: rgb(199, 53, 204);
	font-size: 0.7em;
	padding-right: 9px;
}
.lieu
{
	padding-left: 20px;
}
/*MEDIAQUERRIES*/