/*Colone de gauche et en-tête*/
body
{
	margin: 20px;
}
h1
{
	font-size: 2.5em;
	text-transform: uppercase;
	margin-top: 8%;
}
h2
{
	font-size: 1.7em;
	margin-top: 0%;
}
#column
{
	clear: both;
}
#title
{
	display: flex;
	flex-direction: column;
	margin-left: 30%;
}
#photo
{
	float: left;
	width: 25%;
	padding-top: 50px;
	padding-bottom: 50px;
}
#column_left
{
	width: 25%;
	float: left;
}
#column_left p
{
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
}
#column_left ul
{
	list-style: none;
}
#column_left ul p
{
	margin-left: 0%;
	margin-top: 0%;
}
.hobbies
{
	text-align: center;
	padding-bottom: 15px;
	font-size: 1.4em;
}
.icons
{
	margin-left: 5%;
	margin-right: 5%;
	border: rgb(0, 0, 0) solid 2px;
	border-radius: 100%;
	padding: 10px 10px 10px 10px;
}
.subpart
{
	text-align: center;
	color: rgb(254, 202, 7);
	background-color: rgb(0, 0, 0);
	text-transform: uppercase;
	font-size: 1.4em;
}
.background_color
{
	background-color: rgb(254, 202, 7);
}
.color
{
	color: rgb(254, 202, 7);
}
.underline
{
	border-bottom: rgb(254, 202, 7) solid 2px;
}
#about_me
{
	margin-bottom: 100%;
}

/*Colone de droite*/

#column_right
{
	margin-left: 30%;
}
#column_right h3
{
	border-bottom: rgb(254, 202, 7) solid 2px;
	padding-bottom: 10px;
	font-size: 1.4em;
	text-transform: uppercase;
}
#column_right article
{
	display: flex;
	flex-direction: column;
	margin-left: 40%;
}
#column_right h4, h5
{
	margin-bottom: 0%;
	margin-top: 2%;
}
#column_right p
{
	margin-bottom: 5%;
}
.side
{
	float: left;
}
.side p
{
	margin-top: 0px;
}
.side2 ul
{
	float: left;
	list-style: none;
}
.dimensions
{
	font-size: 1.4em;
	color: rgb(254, 202, 7);
	padding-right: 20px;
}
.paragraphe
{
	margin-bottom: 5%;
	margin-top: 5%;
}
#paragraphe2 ul
{
	list-style: none;
}
